/* Колір основного тексту #212121 */
/* Колір вторинного тексту #757575*/
/* Колір фонових зображень #2F303A */
/* Колір фону #ffffff */
/* Колір вторинного фону  */
:root{
    --primary-text-color: #212121;
    --accent-color: #2196F3;
}
 body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    ;
}
.logo{
    color: #000000;
}
span{
    color: var(--accent-color);
}
.list{
    list-style: none;
}
.site-nav .link {
     color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link.current{
   color: var(--accent-color); 
}
.hero-title{
    color: var(--accent-color);
}
.section-title{
    color: var(--primary-text-color);
}
.feature-list .title{
    color: var(--primary-text-color);
}

.button{
    background-color: var(--accent-color);
    color: #ffffff;
    font-size: 24px;
    padding: 12px 24px;
    display: inline-block;
    border: 1px ;
}

