:root{
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bgr-color: #F5F5F5;
    --second-text-color: #757575;
}
.button{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}
.work-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.work-text{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var( --second-text-color);
    text-decoration: none;
}

.item .link{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.item .link-text{
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
